 
.icon-chevron-right{float:right;opacity:0.25}
.xian{border:1px solid #e3e3e3}
.pt10{padding-top:10px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.pb20{padding-bottom:20px}
.w50{width:50px}
.mtb10{margin-bottom:10px;margin-top:10px}
.pt20{padding-top:20px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px !important}
.pt10{padding-top:10px}
.w70{width:70px}
.w200{width:200px}
.mr20{margin-right:20px}
.mr10{margin-right:10px}
.w412{width:412px}
.w120{width:132px}
.w130{width:132px}
.h268{height:268px}
.nav-tabs > li > a{border-color:#eee #eee #ddd}
.nav-tabs > li.active{border-color:#2f87c1 #2f87c1 #2f87c1}
.nav-tabs,.nav-tabs > li > a{border-bottom:1px solid #2f87c1}
.navbar-inverse .navbar-nav > li > a{color:#fff}
div.navbar-inverse{background:#2f87c1 none repeat scroll 0 0;border:1px solid #5895d5}
._load > li > a:hover{border-color:#2f87c1 #2f87c1 #2f87c1}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:focus,.nav-tabs > li.active > a:hover{border-color:#5895d5 #5895d5 transparent}
.navbar-inverse .navbar-nav > .active > a,.navbar-inverse .navbar-nav > .active > a:focus,.navbar-inverse .navbar-nav > .active > a:hover{background:#55a7e3  none repeat scroll 0 0;border-color:#3381d1;color:#fff}
.navbar-inverse .navbar-nav > .open > a,.navbar-inverse .navbar-nav > .open > a:focus,.navbar-inverse .navbar-nav > .open > a:hover{background-color:#55a7e3;color:#fff}
.nav > li > a{display:block;padding:10px;position:relative}
@media screen and (max-width:1201px){.mallMain,.rightMenu,#goold,#gonew,#teixiao,#floatbottom{display:none}
}.active .icon-chevron-right{background-image:url("../images/glyphicons-halflings-white.png");opacity:1}
@media screen and (max-width:1501px){#_logo{display:none}
@media screen and (max-width:750px){a#_logo{display:block}#search_row{display:none}
}}@media screen and (max-width:501px){.footer-top > .col-lg-offset-1,.footer-bottom,#_ad{display:none}
}#drop-width .dropdown-menu{min-width:75px}
#icons li{float:left;width:180px}
#one .nav-tabs li{width:200px}
#one .active>a{background:#08c;color:#fff;cursor:pointer}
.page-header h3{padding-top:40px}
.well-test{background-color:#fff;border:1px solid #E3E3E3;border-radius:4px 4px 4px 4px;box-shadow:0 1px 1px rgba(0,0,0,0.05) inset;margin-bottom:20px;min-height:20px;padding:19px}
#tool-example li{width:150px;float:left;list-style:none}
.none{display:none}
.none>*{display:none}
.none *{display:none}
.linedwrap{background-color:rgb(238,238,238);margin-bottom:10px;padding:0;display:inline-block;border-radius:4px}
.ptop10{padding-top:10px}
.ptop15{padding-top:15px}
.ptop20{padding-top:20px}
.ptop25{padding-top:25px}
.ptop30{padding-top:30px}
.linedwrap .lines{padding-top:3px}
.linedwrap .codelines{padding:0}
.linedwrap .codelines .lineno{color:rgb(170,170,170);padding-right:0.5em;padding-top:0;text-align:right;white-space:nowrap}
.linedtextarea textarea,.linedwrap .codelines .lineno{font-family:monospace;font-size:14px;line-height:20px !important}
.json_input{background-color:rgb(238,238,238);border:1px solid rgb(238,238,238);height:300px;margin:0;padding:0 !important;width:100%}
.show_logo{background-image:url("../images/081edc98edb04ca98e8d5fd21b3f8080.gif");background-position:right bottom;background-repeat:no-repeat}
textarea{resize:both}
.clear:after,.container:after{clear:both;content:".";display:block;height:0;visibility:hidden}
.clear{display:block}
.left{float:left}
.bold{font-weight:bold}
#results_header{padding-top:1em}
.hide{display:none}
.reset{margin:0;padding:0}
.success{background:none repeat scroll 0 0 rgb(230,239,194);border-color:rgb(198,216,128);color:rgb(82,146,20)}
.error,.notice,.success{border:2px solid rgb(221,221,221);margin-bottom:1em;padding:0.8em;margin-top:10px}
pre,code,tt{}
pre,code{white-space:pre}
.redBorder{border:1px solid rgb(255,0,0) !important}
.error{background:none repeat scroll 0 0 rgb(251,227,228);border-color:rgb(251,194,196);color:rgb(209,47,25)}
.nav > li:hover .dropdown-menu{display:block}
.navbar-fixed-top{font-size:16px}
.toolTable th{color:#006cbf;text-align:center}
.toolTable th,.toolTable td{border:1px solid #ccc}
.separateColor{background-color:#f4f4f4}
.toolTable caption{color:#777;font-size:24px;margin-bottom:20px;text-align:center}
.toolTable{border:medium none;border-collapse:collapse;line-height:36px;margin:10px 0 20px}
ol>li{padding-bottom:5px;padding-top:5px}
#floatbottom .bottom_div{background:#dfdfdf none repeat scroll 0 0;bottom:0;height:45px;margin:0 auto;opacity:0.5;overflow:hidden;padding:0;position:fixed;text-align:center;width:100%;z-index:100}
#floatbottom .bottom_main{bottom:0;height:50px;margin:0 auto;overflow:hidden;padding:0;position:fixed;text-align:center;width:100%;z-index:9999}
#floatbottom .bottom_con{display:inline-block;height:50px;margin:0 auto;width:1170px}
#floatbottom .bottom_close{color:#080808;cursor:pointer;font-size:40px;font-weight:700;height:50px;position:absolute;right:15px;width:50px}
div.red{border:1px dashed red}
div.tagsinput{background:#fff none repeat scroll 0 0;border:1px solid #ccc;height:100px;overflow-y:auto;padding:5px;width:300px}
.bootstrap-tagsinput{background-color:#ffffff;border:2px solid #ebedef;border-radius:6px;font-size:0;margin-bottom:18px;padding:6px 1px 1px 6px;text-align:left}
#details-tag{border:0 none;border-radius:6px;font-size:unset;margin-bottom:18px;padding:0}
#details-tag>a{background-color:#2f87c1;color:#fff}
#details-tag>a:hover{background-color:#fff;color:#2f87c1;border:1px solid #2f87c1}
.tagsinput-primary .tag{background-color:#1abc9c;color:#ffffff}
.bootstrap-tagsinput .tag{background-color:#ebedef;border-radius:4px;color:#7b8996;cursor:pointer;display:inline-block;font-size:13px;height:27px;line-height:15px;margin:0 7px 7px 0;overflow:hidden;padding:6px 21px;position:relative;transition:all 0.25s linear 0s;vertical-align:middle}
.bootstrap-tagsinput .tag > span::after{content:"x";font-family:"Flat-UI-Icons";line-height:27px}
.bootstrap-tagsinput .tag > span{bottom:0;color:#ffffff;cursor:pointer;font-size:12px;opacity:0;padding:0 10px 0 0;position:absolute;right:0;text-align:right;text-decoration:none;top:0;transition:opacity 0.25s linear 0s;width:100%;z-index:2}
.bootstrap-tagsinput input[type="text"]{background-color:transparent;border:medium none;box-shadow:none;color:#34495e;font-size:14px;height:29px;margin:0;max-width:inherit;min-width:80px;outline:medium none;padding:0;vertical-align:top;width:auto !important}
.bootstrap-tagsinput .tag:hover{background-color:#16a085;color:#ffffff;padding-left:14px;padding-right:28px}
.bootstrap-tagsinput .tag:hover > span{filter:none;opacity:1}
.tagsinput-primary .tag{background-color:#1abc9c;color:#ffffff}
.self_tag_marker{text-align:right}
li.self_tag_hide{display:none}
.self_tag_marker>a{padding-right:115px}
.page-header > a.r{font-size:14px;padding-left:100px}
li.self_show{text-align:right}
li.self_show>a{text-align:left}
ul#column_tag> li > a{min-width:115px;padding:5px}
.cloud{clear:both;overflow:hidden;width:100%}
.cloud h3{border-bottom:1px solid #e6e6e6;color:#38485a;font-size:18px;height:40px;line-height:40px}
ul.cloud{margin:20px 0}
ul.cloud a{background:#999 none repeat scroll 0 0;border-radius:8px;color:#fff;display:block;float:left;height:24px;line-height:20px;margin:10px 10px 0 0;padding:3px 11px;transition:all 0.5s ease 0s}
ul.cloud a:nth-child(8n-7){background:#8a9b0f none repeat scroll 0 0}
ul.cloud a:nth-child(8n-6){background:#eb6841 none repeat scroll 0 0}
ul.cloud a:nth-child(8n-5){background:#3fb8af none repeat scroll 0 0}
ul.cloud a:nth-child(8n-4){background:#fe4365 none repeat scroll 0 0}
ul.cloud a:nth-child(8n-3){background:#fc9d9a none repeat scroll 0 0}
ul.cloud a:nth-child(8n-2){background:#edc951 none repeat scroll 0 0}
ul.cloud a:nth-child(8n-1){background:#c8c8a9 none repeat scroll 0 0}
ul.cloud a:nth-child(8n){background:#83af9b none repeat scroll 0 0}
ul.cloud a:first-child{background:#036564 none repeat scroll 0 0}
ul.cloud a:last-child{background:#3299bb none repeat scroll 0 0}
ul.cloud a:hover{border-radius:0;text-shadow:1px 1px 1px #000}
#one .nav-tabs li{width:165px}
#one .nav-tabs.nav-stacked > li:last-child > a{border-bottom-left-radius:4px;border-bottom-right-radius:4px}
#one .nav-tabs.nav-stacked > li:first-child > a{border-top-left-radius:4px;border-top-right-radius:4px}
#one .nav-tabs.nav-stacked > li > a{border:1px solid #ddd;border-radius:0}
#one .nav-stacked > li + li{margin-top:0}
#one .nav-tabs{border-bottom:0}
.title-box{border-bottom:1px solid #eee;font-size:16px;padding:10px 0 30px;text-align:center}
.padding-0{padding:0 !important}
.title-box .title-box-text{color:#555;display:block;font-size:35px;font-weight:200}
.margin-bottom-25{margin-bottom:25px}
.vcard img{clear:right;float:left;margin-right:5px}
.vcard p{line-height:25px}
#leftMain li>a{padding:5px 0}
#column_tag>li>a{display:inline-block;overflow:visible}
.nav a{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.nav>li>a:focus,.nav>li>a:hover{background-color:#fff}
.wrapper{background:#fff none repeat scroll 0 0;height:auto;margin-left:auto;margin-right:auto;padding-bottom:15px;padding-top:15px;}
.Map-navbar .Mnav-left,.Map-navbar .Mnav-right,.Map-navbar .Mnav-right02{color:#747d87;display:inline-block;height:30px;line-height:30px}
.fl{display:inline-block;float:left}
.Map-navbar .Mnav-left a,.Map-navbar .Mnav-right a{color:#0474c8;padding:0 5px}
.bor-b1s04{border-bottom:1px solid #f5f5f5}
.publicSearch{padding:20px 10px;z-index:1}
.w570{width:570px}
.auto{margin-left:auto;margin-right:auto}
.search-write-wrap{display:block;margin:0 auto}
.pr{position:relative}
.search-write-left,.search-write-left02{background:#fff none repeat scroll 0 0;border:1px solid #c6cede;height:40px;overflow:hidden;vertical-align:top}
.search-write-left{border-width:1px 0 1px 1px}
.search-write-left,.search-write-right,.search-write-left02{display:inline-block;float:left;font:16px arial;margin:0}
.search-write-wrap .search-write-cont,.search-write-wrap .SMSearTxt{color:#56688a}
.search-write-cont{background:rgba(0,0,0,0) none repeat scroll 0 0;border:0 none;float:left;font-family:"Microsoft YaHei";height:25px;line-height:25px;margin:6px 0 0 10px;outline:0 none;padding:0}
.w464{width:464px}
.quickdelete{background:#fff url("../images/quickdelete.png") no-repeat scroll 7px 12px;display:none;height:32px;position:absolute;right:0;top:0;width:32px}
.search-hint,.search-hint02{color:#c0c1c4;font-family:"Microsoft YaHei";font-size:14px;font-weight:normal;left:13px;letter-spacing:normal;margin-top:10px;position:absolute;top:0;z-index:0}
.search-write-right{width:90px}
.search-write-btn{width:90px;line-height:normal;outline:medium none}
.search-write-btn{background:#55a7e3 none repeat scroll 0 0;border:0 none;color:#fff;cursor:pointer;font-size:14px;height:40px;padding:0;width:90px}
.ToolAbout .HeadH4{height:30px;line-height:30px;padding-bottom:10px;padding-left:10px}
.fz16{font-size:16px}
.fwnone{font-weight:normal}
.col-blue02{color:#0474c8 !important}
.YaHei{font-family:"Microsoft YaHei"}
.ToolAbout .ToolAbCont p{color:#777777;line-height:28px;text-indent:28px}
#ToolBox{background-color:#fff;border:1px solid #bfc2d3;display:none;position:absolute;width:220px;z-index:50}
#ToolBox ul{margin:2px;padding:0;text-align:left}
#ToolBox ul li{background-color:#fafafa;line-height:25px;list-style-type:none}
#ToolBox ul li a{cursor:pointer;display:block;padding-left:2px;width:99%;color:#338de6;text-decoration:none}
#ToolBox ul li a .del{background-color:#55a7e3;border:1px solid #0474c8;color:#fff;display:inline-block;float:left;height:24px;line-height:24px;margin-right:5px;padding:0 5px}
#ToolBox ul li a:hover{background-color:#e8f0fb;color:#3333ff;text-decoration:none}
.GzipsWrap{padding:10px}
.GzipsMain,.MeatCheckMain{border:1px solid #e8e8e8;width:100%}
.tc{text-align:center !important}
.bor-b1s{border-bottom:1px solid #e8e8e8}
.bg-blue08{background-color:#bcc7dd !important}
.ma0{margin:0 !important}
.ptb5{padding-bottom:5px;padding-top:5px}
.fz16{font-size:16px}
.pl15{padding-left:15px}
.col-gray03{color:#56688a}
.GzipsMain .WhLeList-left,.GzipsMain .WhLeList-right,.GzipsMainOn .WhLeList-left,.GzipsMainOn .WhLeList-right{color:#56688a;font-size:14px;line-height:25px}
.GzipsMain .WhLeList-left,.GzipsMainOn .WhLeList-left{padding:5px 20px 5px 10px;text-align:right;width:22%}
.GzipsMain .WhLeList-left,.GzipsMain .WhLeList-right,.GzipsMainOn .WhLeList-left,.GzipsMainOn .WhLeList-right{color:#56688a;font-size:14px;line-height:25px}
.GzipsMain .WhLeList-right,.GzipsMainOn .WhLeList-right{border-left:1px solid #e8e8e8;padding:5px 10px 5px 20px;width:65%}
.GzipsMain .WhLeList-right span,.GzipsMain .MeatClist span,.GzipsMainOn .WhLeList-right span,.GzipsMainOn .MeatClist span{color:#56688a;padding-right:5px}
.hauto{height:auto !important}
.GzipsMain .WhLeList-right p,.GzipsMainOn .WhLeList-right p{word-break:break-all}
.IcpMain02 ul,.IcpMain02 ol,.IcpMain02 li{list-style:outside none none}
.fr{display:inline-block;float:right !important}
.lh30{line-height:30px}
.fz14{font-size:14px}
.col-red{color:#ff0000 !important}
.fz14{font-size:14px}
.bor-t1s02{border-top:1px solid #f5f5f5}
.zTlrwrap{width:850px}
.col-gray{color:#c0c1c4}
.pl10{padding-left:10px !important}
.zTlrwrap .zTlrCont{background:#fff none repeat scroll 0 0;border:1px solid #e8e8e8;width:848px;padding-left:0px}
.zTlrwrap .zTlrCont li{}
.SeoCheckMain li.headTxt{background-color:#dfe4ee;color:#444444;padding-left:10px}
.SeoCheckMain li{height:40px;line-height:40px}
.bor-b1s{border-bottom:1px solid #e8e8e8}
.hauto{height:auto !important}
.SeoCheckMain li p.w20-0{width:18%}
.SeoCheckMain li p{color:#444;display:inline-block;float:left;height:40px;line-height:40px;overflow:hidden;padding:0 10px;margin:0}
.w58-0{width:58%}
.zTlrRig{background:#ffffff none repeat scroll 0 0;border:1px solid #e8e8e8;min-height:250px;width:320px}
.ml10{margin-left:10px}
.SeoCheckMain li p a{color:#0474c8}
.col-red{color:#ff0000 !important}
.autohide{display:none !important}
.SeoCheckMain li .SeoCheckInfo p{border-bottom:1px solid #eeeeee;color:#999;display:block;float:none;height:40px;line-height:40px;overflow:hidden;padding:0 10px;white-space:normal;word-break:break-all}
.SeoCheckMain li .SeoCheckInfo p span{padding-left:10px}
.SlFenXIrig{background-color:#fff;padding:10px;width:300px}
.CodChangeWrap{width:100%}
.CodChangeWrap .CodChangLeft,.CodChangeWrap .CodChangRight{width:43%}
.CodingWrap{width:1170px}
.CodChangeWrap .CodChangLeft .CodchaLtxt,.CodChangeWrap .CodChangRight .CodchaLtxt{line-height:24px;padding:5px 10px;width:95%}
.bor-a1s{border:1px solid #c6cede !important}
.h200{height:200px}
.CodChangeWrap .CodChangCent{width:14%}
.CodChangCent .CodCBtnWrap{display:table-cell;height:200px;overflow:hidden;text-align:center;vertical-align:middle;width:160px}
.MainCateW-choese{display:inline-block;float:left;height:30px;margin-right:10px;z-index:2}
.ml25{margin-left:25px}
.mt3{margin-top:3px}
.MainCateW-cont{-moz-user-select:none;background-color:#fff;border:1px solid #c6cede;color:#747d87;cursor:pointer;display:inline-block;font-size:12px;height:28px;line-height:28px;padding:0 5px}
.w100{width:100px !important}
.tl{text-align:left !important}
.MCicon-drop-down{border-color:#999999 #fff;border-style:solid;border-width:5px 4px 0;cursor:pointer;display:block;height:0;overflow:hidden;position:absolute;right:10px;top:13px;width:0}
.corUp{border-width:0 4px 5px !important}
textarea{outline:medium none;overflow:auto;resize:none;vertical-align:top}
.w110{width:110px}
.ptb10{padding-bottom:10px !important;padding-top:10px !important}
.GlOtherWay,.GuoLvWay,.GuoLvCbtn{display:inline-block}
.GuoLvCbtn input{border:medium none;color:#0474c8;font-size:14px;height:35px;line-height:35px;margin-left:10px;padding:0 12px;text-align:center}
.GuoLvCbtn input.GLOkBtn{background-color:#55a7e3;color:#fff;font-family:"Microsoft YaHei"}
.MainCateC-down li:hover{background:#f5f5f5 none repeat scroll 0 0}
.MainCateC-down li a:hover{text-decoration:none}
.MainCateC-down{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:#fff none repeat scroll 0 0;border-color:#c6cede;border-image:none;border-style:solid;border-width:0 1px 1px;display:none;font-size:12px;left:0;letter-spacing:normal;list-style-type:none;max-height:220px;overflow:auto;position:absolute;right:0;top:30px;z-index:10}
.MainCateC-down li{cursor:pointer;height:21px;line-height:21px;text-align:left}
.MainCateC-down li a{color:#747d87;display:block;padding-left:7px}
.CodChangCent .CodCBtnWrap input.GBtn{border:medium none;color:#0474c8;font-size:14px;height:35px;line-height:35px;padding:0 12px;text-align:center}
.CodChangeWrap .CodChangLeft,.CodChangeWrap .CodChangRight{width:43%}
.CodChangCent .CodCBtnWrap input.GLOkBtn{background-color:#55a7e3;color:#fff;display:inline-block;font-family:"Microsoft YaHei";vertical-align:middle}
.GuoLvWrapAgo,.GuoLvWrapAfter{font-size:14px;line-height:30px;padding:5px 10px;width:1148px}
.bor-a1s{border:1px solid #c6cede !important}
.col-green02{color:#228b22 !important}
.w80{width:80px !important}
.tr{text-align:right}
.w85-0{width:85%}
.ball{display:table-cell;word-break:break-all}
.bor-b1s{border-bottom:1px solid #e8e8e8}
.GuoLvCbtn input:hover{opacity:0.8}
.GuoLvCbtn input.GLOkBtn:hover{opacity:0.8}
.w570{width:570px}
.TsCorBan-Wrap .TableCent01 th,.TsCorBan-Wrap .TableCent01 td{border:1px solid #c6cede;border-collapse:collapse}
.CorContent .CorConList{clear:both;width:1200px}
.CorContent .boxc{margin-right:4px}
.CorContent .boxc,.CorContent .boxr{display:block;float:left;margin-bottom:4px;padding:75px 0 0;width:97px}
.CorContent .blockQuote{background-color:#dfe4ee;clear:both;line-height:24px;margin-bottom:15px;padding:7px 14px}
.CorContent h3{line-height:30px;padding:2px 4px}
.CorContent h1,.CorContent h2{background-color:#55a7e3;color:#fff;padding:2px 4px}
#tester{display:none;font-size:12px;margin:18px 0 0 60px;padding:5px 10px;position:absolute}
.wrapper ul,.wrapper  ol,.wrapper  li{list-style:outside none none}
.wrapper .h2,.wrapper h2,.wrapper .h3,.wrapper h3,.wrapper .h4,.wrapper h4{font-size:100%;margin-top:0;margin-bottom:0;line-height:unset}
.CTCor-centtainer{margin:0 auto;max-width:1180px;padding:10px}
.CorTongHead{border-bottom:1px solid #c6cede;font-size:18px;padding:10px 0}
.CorTongHead a{background-color:#fff;margin-left:15px;padding:0 20px}
.CorTongHead a.CorCurrt{background-color:#56688a;color:#fff}
.CorTongHead a.CorCurrt,.CorTongHead a:hover{text-decoration:none}
.wrapper .container ul li{height:50px;width:99%}
.CTCor-centtainer ul li{cursor:pointer;display:block;margin:0 2px 2px 0;padding:5px 10px}
.CTCor-centtainer .white,.CTCor-centtainer .white a,.CorConList .white{color:#fff}
.CTCor-centtainer ul li a{color:#333}
.CTCor-centtainer ul{float:right;width:19.9%;padding-left:0}
.CTCor-centtainer ul li a span{cursor:pointer;display:block;font-size:14px}
.ChuTu-upload-con{padding:20px}
.ChuTu-upload-con .ChuTu-upload-img{background:#fff none repeat scroll 0 0;border:5px solid #f3f3f3;height:325px;text-align:center}
.ChuTu-upload-con .ChuTu-upload-img .CtupLimgBtnWrap{height:30px;padding-top:150px;width:120px}
.file-box{position:relative;width:120px}
.ChuTu-upload-con .ChuTu-upload-img .CtupLimgBtnWrap .CtupLimgBtn{cursor:pointer;height:30px;line-height:30px}
.uploadify-button{background-color:#55a7e3;color:#fff;text-align:center;width:100%}
.file{height:24px;opacity:0;position:absolute;right:0;top:0;width:120px}
.ChuTu-upload-con .ChuTu-MainColor{font-size:16px;padding:10px 0}
.ChuTu-upload-con .ChuTu-MainColor .CTCor-cent dl{cursor:pointer;float:left;height:100px;width:232px}
.ChuTu-upload-con .ChuTu-MainColor .CTCor-cent dl dd{height:60px}
.ChuTu-upload-con .ChuTu-MainColor .CTCor-cent dl dt{color:#56688a;line-height:30px;text-align:center}
.ChuTu-CTpse{background:#fff none repeat scroll 0 0;font-size:16px;margin:1px;overflow:hidden;padding:20px}
.ChuTu-CTpse .tit{line-height:40px}
.ChuTu-CTpse .CTCor-cent{width:100%}
.ChuTu-CTpse .CTCor-cent dl{cursor:pointer;float:left;height:90px;margin-right:12px;width:77px}
.ChuTu-CTpse .CTCor-cent dl dd{height:42px;margin-bottom:5px}
.ChuTu-CTpse .CTCor-cent dl dt{color:#56688a;font-size:14px;line-height:20px;text-align:center}
.ChuTu-CTpse .CTCor-cent dl dt.tishi{color:#ff0000;text-align:center}
.uploadify{cursor:pointer;margin-bottom:1em;position:relative}
.ColorCentWrap{overflow:hidden;padding-left:15px}
.SafeCorCent-down{background:#fff none repeat scroll 0 0;display:block;font-size:12px;overflow:auto;width:1180px}
.SafeCorCent-down li{cursor:pointer;float:left;line-height:30px;text-align:left}
.SafeCorCent-down li a{color:#747d87;display:block;padding:2px 10px}
.SafeCorCent-down li a:hover{background:#f5f5f5 none repeat scroll 0 0;text-decoration:none}
.pusmall .SafeCorCent-down{width:980px}
.ColorCentWrap{overflow:hidden;padding-left:15px}
.ColorCentWrap h2{border-bottom:1px solid #c6cede;clear:both;margin-bottom:20px;padding-bottom:10px;text-align:center;width:98%}
.color{padding-bottom:1em;text-align:center}
.col{box-sizing:border-box;float:left;height:auto;overflow:hidden;padding:0 2% 2% 0;width:16.6667%}
.swatches{overflow:hidden}
.color .swatch{border-top-left-radius:8px;border-top-right-radius:8px;height:120px;width:100%}
.color .swatch,.color h3{box-sizing:border-box;display:block;height:140px;width:100%}
.color h3{border:1px solid #e6e6e6}
.color h3{background:#fafafa none repeat scroll 0 0;border-top:0 none;font-family:"SourceSansPro-Regular";font-size:0.8em;height:50px;margin-bottom:0;padding:0.5em;width:100%}
.color h3 .html,.color h3 .rgb{display:block;font-size:1em;height:20px;line-height:20px}
.color h3 .html b{float:left}
.color h3 .html b,.color h3 .rgb b{box-sizing:border-box;color:#333;display:block;font-weight:bold;padding-right:0.25em;width:35%}
.color h3 .rgb b{float:right}
.color h3 .html span,.color h3 .rgb span{box-sizing:border-box;float:left;padding-right:0.25em}
.swatches{overflow:hidden}
.ColorCentWrap h2{border-bottom:1px solid #c6cede;clear:both;margin-bottom:20px;padding-bottom:10px;text-align:center;width:98%}
.Tsfuhao-Wrap,.Tsfuhao-Wrap02{font-size:14px;width:98%}
.CorXuanzeqW{}
.CorXuanzeqW .CorXtit{padding:10px 0}
.CorXuanzeqW .CorXtit strong{background-color:#55a7e3;color:#fff;display:block;font-size:14px;height:30px;line-height:30px;text-align:center;width:120px}
.CorXuanzeqW th,.CorXuanzeqW td{border-collapse:collapse;padding:7px;text-align:center}
.CorXuanzeqW td{border:1px solid #f5f5f5;color:#56688a;padding:7px}
.CorXuanzeqW th{background-color:#869ac2;border:1px solid #f5f5f5;color:#fff;font-weight:normal}
.TsCorBan-Wrap{font-family:"Microsoft YaHei"}
.TsCorBan-Wrap .TableCent01 th,.TsCorBan-Wrap .TableCent01 td{border:1px solid #c6cede;border-collapse:collapse}
.TsCorBan-Wrap .TableCent02 th,.TsCorBan-Wrap .TableCent02 td{border:1px solid #c6cede;border-collapse:collapse;height:100%;width:100%}
.bor-a1s{border:1px solid #c6cede !important}
.lh30{line-height:30px}
.w160{width:160px}
.h30{height:30px}
.pl10{padding-left:10px !important}
.TsCorBan-Wrap td{cursor:pointer;height:20px;width:20px}
.ju{text-align:center}
.btitle{color:#999999;height:24px;line-height:24px;text-align:center}
.bz_bg{background-color:#2f87c1;color:#fff}
.text span{color:#2f87c1}
table td em.level-1{color:#79b800}
table td em.level-2{color:#f60}
table td em.level-3{color:#c67901}
table td em.level-4{color:#eb111b}
table td em.level-5{color:#b3065b}
table td em.level-6{color:#600202}
table td em{font-weight:bold;margin-left:8px;font-style:normal}
.tianqi .page-header{border-bottom:1px solid #55a7e3;margin-bottom:0;padding-bottom:6px}
table.left_top > tbody > tr > td{border:1px dotted #bdbdbd;color:black;height:18px;padding:10px 0 10px 4px}
.zhishu li{color:#507fae;float:left;font-size:14px;height:28px;line-height:28px;overflow:hidden;padding:0}
ul.table_zhishu > li >a{padding:0;line-height:25px}
.red{color:red;}
article.page .post-content h2 {
    border-bottom: 1px solid #e5e5e5;
}
.btn-blue {
    background-color: #2f87c1;
    border-color: #5895d5;
    color: #fff;
}
.btn-blue:hover {
    background-color: #5895d5;
    border-color: #2f87c1;
    color: #fff;
}
.w600{width: 600px;}
.mt10 {
    margin-top: 10px !important;
}
.icon {
    background-image: url("../images/ticon.png");
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
}
.w90 {
    width: 100px;
}
.w100 {
    width: 100px !important;
}
.pt5 {
    padding-top: 5px;
}
.u-click-right-wrap {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    left: 50%;
    position: fixed;
    top: 50%;
    width: 130px;
    z-index: 20160101;
}
.u-click-right-wrap li {
    border-bottom: 1px solid #e8e9e7;
    display: block;
}
.u-click-right-wrap li a {
    color: #787977;
    display: block;
    line-height: 36px;
    padding: 0 20px;
    text-decoration: none;
}
.u-click-right-wrap li .u-icon {
    margin-right: 5px;
}
.u-click-right-wrap li a span {
    display: inline-block;
    vertical-align: middle;
}
.u-click-right-wrap li a.disabled {
    background-color: #fff;
    color: #c8c9c7;
    cursor: not-allowed;
}
.u-click-right-wrap li a:hover {
    background-color: #55a7e3;
    color: #fff;
}
div.fff{background-color: #fff;margin-top: 50px;}
div.fff  .list-inline {
    border-bottom: 1px solid #e5eff8;
    clear: both;
    margin: 0;
}
div.fff ul.list-inline {padding-left:0;height: 30px;line-height: 30px;}
div.fff .list-inline li {
    float: left;
    height: 22px;
    line-height: 22px;
    list-style: outside none none;
    padding: 3px 4px;
}
/*右键 + top*/
#m_right{margin: 0px; border: 0px none; padding: 0px;}
.fixed{bottom:100px;height:auto;left:50%;margin-left:585px;overflow:hidden;padding:17px;position:fixed;width:62px}.fixed .top{display:block;height:32px;margin:0 auto 10px;overflow:hidden;width:32px;background-color:#2f87c1;font-size:34px;border-radius:2px;transition:all 1s ease 0s;margin-left:100px}.fixed .top  > i{color:white}.fixed a._ishow{transform:scale(1) rotate(-360deg) translate(0);margin-left:0px}.fixed .feeback{background:rgba(0,0,0,0) url("../images/btn.png") repeat scroll 0 -365px;display:block;height:107px;margin:0 auto;overflow:hidden;text-indent:-999em;width:32px}	