        <nav class="navcon marauto">
  <div id="mobile_nav_btn">网站导航</div>
  <div class="menu-header">
  <ul id="menu-%e6%88%91%e7%9a%84%e8%8f%9c%e5%8d%95" class="menu">
  <li id="menu-item-2036" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-2036">
  <a href="/json/jsoncheck/">首页</a>
<ul class="sub-menu">
	<li id="menu-item-3221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="javascript:void(0)">文章归档</a></li>
</ul>
</li>
<li id="menu-item-2050" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-has-children menu-item-2050">
<a href="javascript:void(0)">Json相关</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/jsoncheck/">Json格式化校验</a></li>
            	<li  class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/jsonhandle/">Json压缩转义</a></li>
                        	<li  class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/jsonmodel/">Json生成实体类</a></li>
    	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/jsoneditor/">Json在线编辑器</a></li>

	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/xml2json/">Json XML互转</a></li>
    	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/getpostjson/">Json和GET参数互转</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/excel2json/">Excel转Json</a></li>

</ul>
</li>

<li id="Li1" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-has-children menu-item-2050">
<a href="javascript:void(0)">格式化工具</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/format/jshtmlformat/">JS/HTML格式化,压缩</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/format/cssformat/">CSS格式化,压缩</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/format/xmlformat/">XML格式化,压缩</a></li>
     <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/format/sqlformat/">SQL格式化,压缩</a></li>
</ul>
</li>

<li id="Li5" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-has-children menu-item-2050">
<a href="javascript:void(0)">加密解密</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/base64/">Base64加密,解密</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/md5/">MD5加密</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/sha/">SHA加密</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/escape/">Escape加密,解密</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/urlencode/">URL编码,解码</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/jseval/">Javascript Eval加密,解密</a></li>
</ul>
</li>
<li id="Li9" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-has-children menu-item-2050">
<a href="javascript:void(0)">转换工具</a>
<ul class="sub-menu">
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/convert/unicodetochinese/">Unicode中文互转</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/convert/unix/">Unix时间转换</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/convert/hexconvert/">进制转换</a></li>
             
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/convert/nativeascii/">Native/Ascii互转</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/convert/numtormb/">RMB大小写转换</a></li>
           <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/convert/touppertolower/">字母大小写转换</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/convert/rgbhex/">RGB颜色和HEX互转</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/convert/hex2str/">字符串-16进制互转</a></li>

</ul>
</li>
</ul></div>  
  </nav>