<nav class="navbar navbar-default" role="navigation">

   <div>
      <ul class="nav navbar-nav">
         <li class="dropdown" style="">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Json相关 
            </a>
            <ul class="dropdown-menu">
                <li ><a href="/json/jsoncheck/">Json格式化校验</a></li>
                <li =><a href="/json/jsonhandle/">Json压缩转义</a></li>
                <li  ><a href="/json/jsonmodel/">Json生成实体类</a></li>
    	        <li ><a href="/json/jsoneditor/">Json在线编辑器</a></li>
	            <li ><a href="/json/xml2json/">Json XML互转</a></li>
    	        <li ><a href="/json/getpostjson/">Json和GET参数互转</a></li>
	            <li ><a href="/json/excel2json/">Excel转Json</a></li>
            </ul>
         </li>
         
<li id="Li1" class="dropdown">
<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">格式化工具</a>
<ul class="dropdown-menu">
	<li ><a href="/format/jshtmlformat/">JS/HTML格式化,压缩</a></li>
    <li ><a href="/format/cssformat/">CSS格式化,压缩</a></li>
    <li ><a href="/format/xmlformat/">XML格式化,压缩</a></li>
     <li ><a href="/format/sqlformat/">SQL格式化,压缩</a></li>
</ul>
</li>

<li id="Li5" class="dropdown">
<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">加密解密</a>
<ul class="dropdown-menu">
	<li ><a href="/encdec/base64/">Base64加密,解密</a></li>
    <li ><a href="/encdec/md5/">MD5加密</a></li>
    <li ><a href="/encdec/sha/">SHA加密</a></li>
    <li ><a href="/encdec/escape/">Escape加密,解密</a></li>
    <li ><a href="/encdec/urlencode/">URL编码,解码</a></li>
    <li ><a href="/encdec/jseval/">Javascript Eval加密,解密</a></li>
</ul>
</li>
<li id="Li9" class="dropdown">
<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">转换工具</a>
<ul class="dropdown-menu">
		<li ><a href="/conversion/unicodetochinese/">Unicode中文互转</a></li>
        <li ><a href="/conversion/unix/">Unix时间转换</a></li>
        <li ><a href="/conversion/hexconvert/">进制转换</a></li>     
        <li ><a href="/conversion/nativeascii/">Native/Ascii互转</a></li>
        <li ><a href="/conversion/numtormb/">RMB大小写转换</a></li>
        <li ><a href="/conversion/touppertolower/">字母大小写转换</a></li>
        <li ><a href="/conversion/rgbhex/">RGB颜色和HEX互转</a></li>
        <li ><a href="/conversion/hex2str/">字符串-16进制互转</a></li>
        <li ><a href="/conversion/filesize/">文件大小换算</a></li>
        <li ><a href="/conversion/image2base64/">在线图片转Base64编码</a></li>

</ul>
</li>

  <li id="Li2" class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">检验工具</a>
<ul class="dropdown-menu">
	<li id="Li3" ><a href="/validate/regex/">正则校验</a></li>
</ul>
</li>
<li id="Li4" class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">网络工具</a>
<ul class="dropdown-menu">
	<li id="Li6" ><a href="/webtools/getip/">获取您的IP</a></li>
    	<li id="Li12" ><a href="/webtools/clientinfo/">获取您的浏览器信息</a></li>
        <li id="Li13" ><a href="/webtools/useragent/">常用USER_AGENT</a></li>
</ul>
</li>
<li id="Li7" class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">前端工具</a>
<ul class="dropdown-menu">
	<li id="Li8" ><a href="/ui/safecolor/">WEB安全色</a></li>
          	<li id="Li16" ><a href="/ui/borderradius/">在线生成圆角图片</a></li>
      	<li id="Li15" ><a href="/ui/imageresize/">在线图片大小缩放</a></li>
    	<li id="Li14" ><a href="/ui/iphonesize/">iPhone/iPad/Android UI尺寸规范</a></li>
</ul>
</li>
      </ul>
   </div>
</nav>
