<nav class="navcon marauto">
  <div id="mobile_nav_btn">网站导航</div>
  <div class="menu-header">
  <ul id="menu-%e6%88%91%e7%9a%84%e8%8f%9c%e5%8d%95" class="menu">
  <li id="menu-item-2036" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-2036">
  <a href="http://www.newjson.com/">首页</a>

</li>
<li id="menu-item-2050" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-has-children menu-item-2050">
<a href="javascript:void(0)">Json相关</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="http://www.newjson.com/">Json格式化校验</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a target="_blank" href="/json/jsonlint/">Json格式化校验,对比</a></li>
        	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/jsoneditor/">Json在线编辑器</a></li>
        	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/jsonview/">Json在线视图查看器</a></li>
            	<li  class="menu-item menu-item-type-taxonomy menu-item-object-category "><a   href="/json/jsonhandle/">Json压缩转义</a></li>
                        	<li  class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/jsonmodel/">Json生成实体类</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/xml2json/">Json XML互转</a></li>
    	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/getpostjson/">Json和GET参数互转</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/json/excel2json/">Excel转Json</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="A4" href="/json/jsoncode/"  >Json解析相关代码</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="A6" target="_blank" href="/docs/json/json-zh.html"  >介绍Json</a></li>
</ul>
</li>

<li id="Li1" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-has-children menu-item-2050">
<a href="javascript:void(0)">格式化工具</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/format/jshtmlformat/">JS/HTML格式化,压缩</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/format/cssformat/">CSS格式化,压缩</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/format/xmlformat/">XML格式化,压缩</a></li>
     <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/format/sqlformat/">SQL格式化,压缩</a></li>
</ul>
</li>

<li id="Li5" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-has-children menu-item-2050">
<a href="javascript:void(0)">加密解密</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/base64/">Base64加密解密</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/md5/">MD5加密</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/sha/">SHA加密</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/escape/">Escape加密解密</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/urlencode/">URL编码解码</a></li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/jseval/">Javascript Eval加密解密</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/utf8/">UTF-8编码汉字互转</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/morse/">摩斯密码加密</a></li>
                 <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/encdec/htpasswd/">在线htpasswd生成器</a></li>
</ul>
</li>
<li id="Li9" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-has-children menu-item-2050">
<a href="javascript:void(0)">转换工具</a>
<ul class="sub-menu"> 
<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/shorturl/">在线短链接生成</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/urlconvert/">下载地址在线转换</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/unicodetochinese/">Unicode中文互转</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/unix/">Unix时间转换</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/hexconvert/">进制转换</a></li>     
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/nativeascii/">Native/Ascii互转</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/numtormb/">RMB大小写转换</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/touppertolower/">字母大小写转换</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/rgbhex/">RGB颜色和HEX互转</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/hex2str/">字符串-16进制互转</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/filesize/">文件大小换算</a></li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/image2base64/">在线图片转Base64编码</a></li>
         <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/htmlubb/"> Html/UBB代码互转工具</a></li>
         <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/topinying/">汉字转换拼音</a></li>
          <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/fullhalf/">全角半角转换</a></li>
           <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/j2f/">简繁体火星文互转</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="/change/html2markdown/">Html转换为MarkDown工具</a></li>
</ul>
</li>

<!--  <li id="Li2" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-2036">
  <a href="javascript:void(0)">检验工具</a>
<ul class="sub-menu">
	<li id="Li3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/validate/regex/">正则校验</a></li>
</ul>
</li>-->
<li id="Li4" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-2036">
  <a href="javascript:void(0)">网络工具</a>
<ul class="sub-menu">
    	<li id="Li17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/webtools/httptest/">接口测试,模拟http请求</a></li>
    	<li id="Li12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/webtools/clientinfo/">获取您的浏览器信息</a></li>
        <li id="Li13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/webtools/useragent/">常用USER_AGENT</a></li>
        <li id="Li36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/webtools/ipaddress/">IP地址查询</a></li>
</ul>
</li>
<li id="Li7" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-2036">
  <a href="javascript:void(0)">前端工具</a>
<ul class="sub-menu">
	<li id="Li23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/ui/runjs/" target="_blank">RunJS在线编辑器</a></li>
    <li id="Li24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/ui/photoshop/" target="_blank">PhotoShop在线版</a></li>
    <li id="Li25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/ui/alloyphoto/" target="_blank">AlloyPhoto简约版</a></li>


	<li id="Li8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/ui/safecolor/">WEB安全色</a></li>
    	<li id="Li18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/ui/usecolor/">网页常用颜色</a></li>
            	<li id="Li19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/ui/onlinecolor/">在线调色板</a></li>

          	<li id="Li16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/ui/borderradius/">在线生成圆角图片</a></li>
     
    	<li id="Li14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/ui/phonesize/">iPhone/iPad/Android UI尺寸规范</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://iconfont.cn/repositories" target="_blank" rel="external nofollow">阿里巴巴矢量图标库</a></li>
                <li id="Li20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/ui/openweb/">弹出窗口生成器</a></li>
                  <li id="Li37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/ui/ueditor/">Ueditor在线代码编辑器</a></li>
</ul>
</li>
<li id="Li10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-2036">
  <a href="javascript:void(0)">常用工具</a>
<ul class="sub-menu">
	<li id="Li3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/validate/regex/">正则表达式匹配</a></li>
    <li id="Li2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/tools/qrcode/">在线二维码生成器</a></li>
        <li id="Li22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/tools/qrdecode/">在线二维码解码器</a></li>
        <li id="Li15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a target="_blank" href="/tools/gpsmap/">经纬度查询</a></li>
        	<li id="Li6" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/tools/diff/">在线文件对比工具</a></li>
         <li id="Li27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/tools/texteditor/">在线文字排版工具</a></li>
         	<li id="Li11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/tools/wordcounter/">在线字数统计工具</a></li>
            <li id="Li38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/tools/fuhao/">特殊符号大全</a></li>

</ul>
</li>

<li id="Li26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-2036">
  <a href="javascript:void(0)">常用对照表</a>
<ul class="sub-menu">

<li id="Li28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/docs/HTTPContentType/">HTTP Content-type</a></li>
<li id="Li29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/docs/HtmlEscape/">HTML转义字符</a></li>
<li id="Li30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/docs/RgbCommon/">RGB颜色参考</a></li>
<li id="Li31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/docs/ASCII/">ASCII对照表</a></li>
<li id="Li32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/docs/HttpStatus/">HTTP状态码详解</a></li>
<li id="Li33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/docs/Operator/">运算符优先级</a></li>
<li id="Li34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/docs/TcpUdp/">TCP/UDP常见端口参考</a></li>
<li id="Li35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3221"><a href="/docs/WebFonts/">网页字体参考</a></li>
</ul>
</li>



<li id="Li21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-2036">
  <a href="javascript:void(0)">第三方平台工具</a>

<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a rel="external nofollow" target="_blank" href="http://mp.weixin.qq.com/debug">微信公众平台调试工具</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a rel="external nofollow" target="_blank" href="http://qy.weixin.qq.com/debug">微信企业号调试工具</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a rel="external nofollow" target="_blank" href="http://connect.qq.com/sdk/webtools/">QQ互联API调试工具</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a rel="external nofollow" target="_blank" href="http://t.cn/R4617Pf">淘宝oauth2.0测试工具</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a rel="external nofollow" target="_blank" href="http://t.cn/R461ZZu">淘宝API测试工具</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a rel="external nofollow" target="_blank" href="http://t.cn/R461Zm2">淘宝错误码查询工具</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a rel="external nofollow" target="_blank" href="http://t.cn/R461wa7">淘宝商品属性工具</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a rel="external nofollow" target="_blank" href="http://sandbox.alipaydev.com/home/apiTestTools.htm?method=alipay.security.risk.detect">支付宝API工具</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a rel="external nofollow" target="_blank" href="http://open.weibo.com/tools/console">新浪微博API工具</a></li>
</ul>
</li>



<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children ">
<a href="#" >文档</a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="apliayapi" href="http://wiki.open.qq.com/wiki/%E9%A6%96%E9%A1%B5" target="_blank" rel="external nofollow">腾讯开发平台</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="wxapi" href="http://mp.weixin.qq.com/wiki/home/index.html" target="_blank" rel="external nofollow">微信公众平台开发文档</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="wxapi" href="https://pay.weixin.qq.com/wiki/doc/api/index.html" target="_blank" rel="external nofollow">微信支付开发文档</a></li>
<li role="separator" class="divider"></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="tbapi" href="http://open.taobao.com/api/api_list.htm?spm=a219a.7386789.1.27.Lf4YRD" target="_blank" rel="external nofollow">淘宝开发文档</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="apliayapi" href="https://open.alipay.com/platform/document.htm" target="_blank" rel="external nofollow">支付宝开发文档</a></li>
<li role="separator" class="divider"></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="baiduinterface" href="http://apistore.baidu.com/astore/classificationservicelist.html" target="_blank" rel="external nofollow">百度API市场</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="A5" href="/docs/freeapi/" target="_blank" rel="external nofollow">免费API接口</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="jqapi" href="http://www.jq22.com/chm/jquery1.8.3.html" target="_blank" rel="external nofollow">jQuery文档</a></li>

<li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="A1" href="/json/aboutjson/"  rel="external nofollow">什么是Json</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="A2" href="/json/jsoncode/"  rel="external nofollow">Json解析相关代码</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a id="A3" href="/json/jsoncomponent/"  rel="external nofollow">Json常用组件</a></li>
</ul>
</li>

</ul></div>  
  </nav>
